.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;
}
.logo{ 
    font-family: 'Cabinet Grotesk', sans-serif;
    color: rgba(255,255,255,255);
    font-weight: 600;
    display: -webkit-box;
    margin-top: 15px;
}
.text-logo{
    margin-left: 8.5px;
    margin-top: 5px;
}
.text-logo:hover{
    color: rgb(108, 223, 238);
    transition: all 0.4s ease; 
}
.menu{
    font-family: "Poppins", sans-serif;
    color: rgba(255,255,255,255);
    font-weight: 300;
    margin-top: 15px;
    text-align: center; 
    list-style-type: none;
    display: -webkit-box;
    gap: 30px;
}
.menu-top:hover{
    color: rgb(108, 223, 238);
    transition: all 0.4s ease; 
}
.youtube{
    font-family: "Poppins", sans-serif;
    color: rgba(255,255,255,255);
    background-color: #00000041;
    border-radius: 15px; 
    padding-left: 8px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 2.5px;
    display: inline-block;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
}
.icon-utube{
    margin-top: 15px;
    display: inline-flex;
    
}   
.youtube-text {
    margin-top: 2px;
    margin-left: 8.5px;
}